* {
  /* border: 1px solid red; */
  font-family: 'Lato', sans-serif;}
h3{
  margin: 0%}
.mainPage{
  text-align: center;
  color: whitesmoke;}
.background{
  background-color: rgb(70, 66, 65);
  margin: 0%}
a{
  color: #000;
  text-decoration: none;

}
/* Intro Page */
.titlePg-title{
  font-size: 150px;
  margin-top: 25px;
  margin-bottom: 10px;}
.titlePg-intro{
  font-size: 30px}
.titlePg-Btn{
  width: 100px;
  height: 50px;
  background-color: darkred;
  color: whitesmoke;
  font-size: 30px;
  margin: auto;  }
/* Mix  */
.mix {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  border: 5px solid black;}
.mixInfo {
  margin: 0px;

}
/* Header  */
.header{
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 3px solid black;
  background-color: brown;
  margin-bottom: 20px;}
.header-title{
  font-size: 50px;}
.header-element{
    width: 80px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 15px;
}

 /* MixPage */
 .mixPageBody{
   margin: auto;
   width: 80%;
   
 }