<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./template.css" />
  <script src="main.js"></script>
</head>
<body class="mainBackground mainPage">
  <div class ="app">
    <h1 class="mainTitle"> Collection Collective </h1>
    <p class="titlePg-intro mainPage"> Find those hard to ID tracks in your favourite sets, mixes, or podcasts </p>
    <a href="./mixes.html"><button  id="titlePg-Btn" > Enter </button></a>
  </div>
</body>
</html>