<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./template.css" />
  <script src="main.js"></script>
</head>
<body class="mainBackground mixPage">
    <div class ="MixPage">
      <h2 class="mainPage mixesTitle"> Collection Collective </h2>
      <div>
        <div class="mixHeader background">
          <div class="mixTitle">
            <h3 class="mixTitleName">BBC Essential Mix</h3>
            <h3 class="mixTitleArtist">Peggy Gou</h3>
            <h4 class="MixTitleGenre">Techno</h4>
          </div>
          <div class="mixMetrics">
            <h3>Metrics</h3>
            <p> completed: 5% </p>
            <p>Genre Overview: Techno/House/Electronic</p>
          </div>
          </div>
          <div class="mixGraph background">
              <h3 class="graphTitle">Mix Breakdown</h3>
              <div class="graphArea">
              <div class="graphSlice1"></div>
              <div class="graphSlice2"></div>
              <div class="graphSlice3"></div>
              </div>
          </div>
        </div>




      </div>
      <div >
          <div class="mixbox background">
            <div class="colorIndicator1"></div>
            <h4 class="mixboxTitle">1666</h4>
            <h5 class="mixboxArtist">M-D-Emm</h5>
          </div>
          <div class="mixbox background">
            <div class="colorIndicator2"></div>
            <h4 class="mixboxTitle">Too Much<h4>
            <h5 class="mixboxArtist">Feuters </h5>
          </div>
          <div class="mixbox background">
            <div class="colorIndicator3"></div>
            <h4 class="mixboxTitle">Nothing Is What I know</h4>
            <h5 class="mixboxArtist">Helena Hauff </h5>
          </div>
      </div>
    </div>
  </body>
</html>