<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./template.css" />
  <script src="main.js"></script>
</head>
<body class="mainBackground mixPage">
  <div class ="MixPage">
    <h2 class="mainPage mixesTitle"> Collection Collective </h2>
    <div>
        <div class="mixbox background">
          <h4 class="mixboxTitle">Beats in Space October 2014</h4>
          <h5 class="mixboxArtist">Artist: Hunee</h5>
          <p class="mixboxInfo">Date: 10/17     Length:75min45s</p>
          <p></p>
        </div>
        <div class="mixbox background">
          <h4 class="mixboxTitle">DGTL Festival Mix<h4>
          <h5 class="mixboxArtist">Artist: Detroit Swindle </h5>
          <p class="mixboxInfo">Date: 04/17     Length:94min56s</p>
        </div>
        <a href="./mix.html">
        <div class="mixbox background">
          <h4 class="mixboxTitle">BBC Essential Mix</h4>
          <h5 class "mixboxArtist"></h5>: Peggy Gou</h5>
          <p class="mixboxInfo">Date: 03/18     Length:119min48s</p>
        </div>
        </a>
    </div>
  </div>
</body>
</html>